<template name='history'>
  <div class="history">
    <header>
      <h1 style="text-align: center">History</h1>
    </header>

    <div>
      <h3>Temperature History</h3>
      <ul>
        {{#each temps}}
          {{> temp}}
        {{/each}}
      </ul>
    </div>

    <div>
      <h3>Volume History</h3>
      <ul>
        {{#each volumes}}
          {{> volume}}
        {{/each}}
      </ul>
    </div>

    <div>
      <h3>Pressure History</h3>
      <ul>
        {{#each pressures}}
          {{> pressure}}
        {{/each}}
      </ul>
    </div>

    <a href="{{pathFor 'dashboard'}}">Back to Dashboard</a>
  </div>
</template>
