<template name="login">
  <!-- <div class="login">
    <h2>Log In</h2>
    <p><em>Welcome Back!</em></p>
    <form class="login-form">
        <p>Email: <input type="email" name="email"></p>
        <p>Password: <input type="password" name="password"></p>
        <p><a href="{{ pathForDashboard }}"><input type="submit" value="Login"></a></p>
    </form>
    <p>Don't have an account? <a href="{{ pathForRegister }}">Register here</a></p>
  </div> -->
  <div class="login">
    {{> atForm}}
  </div>
</template>
