<template name="appBody">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img class="navbar-brand" src="//treetowntech.com/wp-content/uploads/2016/11/TTT_wh_520x72.png?63b05a"/>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#about">About Us</a></li>
          <li><a href="#projects">Projects</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br><br><br>
  <!-- <h1>Treetown Tech</h1> -->
  <div class="container">
    <div>
      {{> Template.dynamic template=main}}
      <!-- {{#if loggedIn}}
        {{> dashboard}}
      {{else}}
        {{> login}}
      {{/if}} -->
    </div>
  </div>

  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="#" target="_blank">Question?</a></li>
        <li><a href="mailto:info@treetowntech.com" target="_blank">Contact Us</a></li>
      </ul>
    </div>
  </nav>
</template>
