<!-- <body>
  <div class="container">
    <header>
      <h1 style="text-align: center">Dashboard</h1>
    </header>

    <img class="keg" src="img/keg-sample.png"/>

    <div>
      <h3>Insert temperature to database using one of the two methods below:</h3>

      <button class="photon-temp">Get Temperature from Photon</button>
      <br>
      <br>
      <form class="new-temp">
        <input type="text" name="text" placeholder="Or insert the temp manually!" />
      </form>
      <form class="new-volume">
        <input type="text" name="text" placeholder="Or insert the volume manually!" />
      </form>
      <form class="new-pressure">
        <input type="text" name="text" placeholder="Or insert the pressure manually!" />
      </form>
    </div>

    <div>
      <h3>Current Status</h3>
      <ul class="hist">
        <li>{{ lastTemp }}&deg; F</li>
        <li>{{ lastVol }} mL</li>
        <li>{{ lastPressure }} Pa</li>
      </ul>
    </div>

    <div>
      <h3>Temperature History</h3>
      <ul>
        {{#each temps}}
          {{> temp}}
        {{/each}}
      </ul>
    </div>

    <div>
      <h3>Volume History</h3>
      <ul>
        {{#each volumes}}
          {{> volume}}
        {{/each}}
      </ul>
    </div>

    <div>
      <h3>Pressure History</h3>
      <ul>
        {{#each pressures}}
          {{> pressure}}
        {{/each}}
      </ul>
    </div>

  </div>
</body> -->
